In [1]:
import pandas as pd

Zadanie 1 Dane 
Załaduj zbiór danych korzystajac z biblioteki Pandas. Kolumny w naszym zbiorze danych, to:

imię
nazwisko
rok urodzenia
miesiac urodzenia
dzień urodzenia
miejsce urodzenia
miasto, w którym znajduje się oddział firmy
departament, w którym pracuje dana osoba
rok roczęcia pracy w firmie
miesiac rozpoczęcia pracy
dzień rozpoczęcia pracy
doswiadczenie (w latach)

In [111]:
columns = [
    "imię",
    "nazwisko",
    "rok urodzenia",
    "miesiąc urodzenia",
    "dzień urodzenia",
    "miejsce urodzenia",
    "oddział firmy",
    "departament",
    "rok rozpoczęcia pracy w firmie",
    "miesiąc rozpoczęcia pracy",
    "dzień rozpoczęcia pracy",
    "doświadczenie(lata)"
]
dane = pd.read_csv("dataset_pandas_pd.csv", header = None, names=columns) 
print(dane)

          imię nazwisko  rok urodzenia  miesiąc urodzenia  dzień urodzenia  \
0         Adam   Abacki           1970                  3                4
1      Barbara  Babacka           1971                  4                5
2       Celina  Cabacka           1969                  6                7
3      Dariusz  Dabacki           1972                  8                9
4      Ewelina   Ebacka           1968                 10               11
5    Ferdynand  Fabacki           1973                 11               12
6     Grzegorz  Gabacki           1967                 12               13
7       Halina  Habacka           1974                 11               14
8        Iwona   Ibacka           1966                 10               15
9       Janusz   Abacki           1975                  9               16
10    Karolina  Babacka           1965                  8               17
11        Leon  Cabacki           1976                  7               18
12      Michal  Dabacki           1964                  6               19
13     Natalia   Ebacka           1977                  5               20
14       Oskar  Fabacki           1963                  4               21
15    Patrycja  Gabacka           1978                  3               22
16       Roman   Abacki           1962                  2               23
17  Stanislawa  Babacka           1979                  1               24
18      Tomasz  Cabacki           1961                  2               25
19     Urszula  Dabacka           1980                  3               24
20   Wladyslaw   Ebacki           1960                  4               23
21       Zofia  Fabacka           1981                  5               22
22   Anastazja   Abacka           1990                  6               21
23      Antoni   Abacki           1982                  7               20
24       Beata  Babacka           1991                  8               19
25      Cezary  Cabacki           1983                  9               18
26      Daniel  Dabacki           1992                 10               17
27         Ewa   Ebacka           1984                 11               16
28  Franciszek   Abacki           1993                 12               15
29    Boleslaw  Babacki           1985                 11               14
30     Dariusz  Cabacki           1994                 10               13
31     Mariusz  Dabacki           1986                  9               12
32      Wiktor   Abacki           1995                  8               11
33       Magda  Babacka           1985                  7               10
34      Maciej  Cabacki           1994                  6                9
35      Antoni   Abacki           1984                  5                8
36   Bronislaw  Babacki           1993                  4                7
37      Horacy  Cabacki           1983                  3                6
38      Alicja   Abacka           1992                  2                5
39     Barbara  Babacka           1982                  1                4

   miejsce urodzenia oddział firmy           departament  \
0             Gdansk        Gdansk          Data Science
1             Gdynia        Gdansk          Data Science
2              Sopot        Gdansk  Software Development
3             Lublin        Gdansk                    HR
4           Warszawa        Gdansk            Accounting
5          Walbrzych        Gdansk                    HR
6             Gdansk        Gdansk  Software Development
7           Warszawa        Gdansk            Accounting
8             Poznan        Gdansk                 Sales
9             Gdynia        Gdansk                 Sales
10           Legnica        Gdansk          Data Science
11           Wroclaw        Krakow          Data Science
12       Swinoujscie        Gdansk                    HR
13          Zakopane        Krakow                    HR
14            Gdansk        Krakow          Data Science
15           Rzeszow        Krakow  Software Development
16            Lublin        Krakow          Data Science
17        Inowroclaw        Krakow  Software Development
18         Bydgoszcz        Krakow          Data Science
19         Bydgoszcz        Krakow          Data Science
20            Poznan        Krakow          Data Science
21            Gdansk        Krakow                    HR
22            Gdansk        Krakow                    HR
23          Warszawa        Krakow                    HR
24            Krakow        Krakow  Software Development
25            Gdynia        Krakow          Data Science
26            Gdansk        Krakow  Software Development
27          Zakopane        Krakow  Software Development
28            Lublin        Krakow          Data Science
29          Katowice        Krakow          Data Science
30          Katowice        Krakow            Accounting
31            Gdansk      Warszawa            Accounting
32            Gdansk      Warszawa            Accounting
33            Lublin      Warszawa  Software Development
34          Warszawa      Warszawa          Data Science
35              Ryki      Warszawa                    HR
36            Gdansk      Warszawa                    HR
37        Tarnobrzeg      Warszawa          Data Science
38            Gdansk      Warszawa            Accounting
39             Sopot      Warszawa          Data Science

    rok rozpoczęcia pracy w firmie  miesiąc rozpoczęcia pracy  \
0                           2015.0                          4
1                              NaN                          5
2                           2013.0                          6
3                           2020.0                          4
4                           2000.0                          7
5                           2001.0                          8
6                           2002.0                          4
7                           2003.0                          9
8                           2004.0                         10
9                           1995.0                         11
10                          2005.0                          4
11                          2006.0                          4
12                          2007.0                         12
13                          2008.0                          4
14                          2009.0                          4
15                          2010.0                          4
16                             NaN                          5
17                          2012.0                          4
18                          2013.0                          6
19                          2014.0                          4
20                          2015.0                          7
21                             NaN                          8
22                          2017.0                          9
23                          2018.0                         10
24                          2019.0                          4
25                             NaN                          4
26                          1995.0                         12
27                          1996.0                         11
28                          1997.0                          4
29                          1998.0                          4
30                          1999.0                          9
31                          2019.0                          8
32                          2018.0                          4
33                          2017.0                          4
34                          2016.0                          6
35                          2015.0                          5
36                          2014.0                          4
37                          2013.0                          4
38                             NaN                          3
39                             NaN                          2

    dzień rozpoczęcia pracy  doświadczenie(lata)
0                         5                   20
1                        15                   10
2                        25                   35
3                         5                    4
4                        15                   30
5                        25                   20
6                         5                   18
7                        15                   17
8                        25                   16
9                         5                   20
10                       15                   30
11                       25                   24
12                        5                   21
13                       10                   20
14                       25                   10
15                        5                    9
16                       12                    8
17                        5                    7
18                       13                    6
19                       14                    5
20                       16                   15
21                       25                   14
22                       25                   13
23                       20                   12
24                       24                   11
25                       21                   12
26                        5                   10
27                       15                    9
28                       25                    8
29                       25                    7
30                        5                    6
31                        5                    5
32                       15                    4
33                       12                   18
34                       11                   17
35                       10                   16
36                       22                   15
37                       25                   14
38                       15                   13
39                        5                   10

Pandas - Zadanie 2 - Najczęstsze nazwisko

Osób o jakim nazwisku jest najwięcej ?

In [112]:
max_nazwisko = dane['nazwisko'].value_counts().idxmax()

print(max_nazwisko)

Abacki

Pandas - Zadanie 3 - Płeć

Po kolumnie z nazwiskiem dodaj kolumnę reprezentującą płeć danej osoby. Można wykorzystać fakt, że imiona
kobiet kończą się literka 'a'.

In [113]:
def czy_kobieta():
    wynik = []
    for imie in dane['imię']:
        if imie.endswith('a'):
            wynik.append('Kobieta')
        else:
            wynik.append('Mezczyzna')
    return wynik
            
dane.insert(2, "plec",czy_kobieta())

In [114]:
print(dane.head(10))

        imię nazwisko       plec  rok urodzenia  miesiąc urodzenia  \
0       Adam   Abacki  Mezczyzna           1970                  3
1    Barbara  Babacka    Kobieta           1971                  4
2     Celina  Cabacka    Kobieta           1969                  6
3    Dariusz  Dabacki  Mezczyzna           1972                  8
4    Ewelina   Ebacka    Kobieta           1968                 10
5  Ferdynand  Fabacki  Mezczyzna           1973                 11
6   Grzegorz  Gabacki  Mezczyzna           1967                 12
7     Halina  Habacka    Kobieta           1974                 11
8      Iwona   Ibacka    Kobieta           1966                 10
9     Janusz   Abacki  Mezczyzna           1975                  9

   dzień urodzenia miejsce urodzenia oddział firmy           departament  \
0                4            Gdansk        Gdansk          Data Science
1                5            Gdynia        Gdansk          Data Science
2                7             Sopot        Gdansk  Software Development
3                9            Lublin        Gdansk                    HR
4               11          Warszawa        Gdansk            Accounting
5               12         Walbrzych        Gdansk                    HR
6               13            Gdansk        Gdansk  Software Development
7               14          Warszawa        Gdansk            Accounting
8               15            Poznan        Gdansk                 Sales
9               16            Gdynia        Gdansk                 Sales

   rok rozpoczęcia pracy w firmie  miesiąc rozpoczęcia pracy  \
0                          2015.0                          4
1                             NaN                          5
2                          2013.0                          6
3                          2020.0                          4
4                          2000.0                          7
5                          2001.0                          8
6                          2002.0                          4
7                          2003.0                          9
8                          2004.0                         10
9                          1995.0                         11

   dzień rozpoczęcia pracy  doświadczenie(lata)
0                        5                   20
1                       15                   10
2                       25                   35
3                        5                    4
4                       15                   30
5                       25                   20
6                        5                   18
7                       15                   17
8                       25                   16
9                        5                   20

Pandas - Zadanie 4 - Sortowanie

Posortuj zbiór danych alfabetycznie po nazwiskach, a w ramach jednego nazwiska po roku urodzenia.

In [115]:
posortowane = dane.sort_values(by=['nazwisko', 'rok urodzenia'])
print(posortowane.head())

         imię nazwisko       plec  rok urodzenia  miesiąc urodzenia  \
22  Anastazja   Abacka    Kobieta           1990                  6
38     Alicja   Abacka    Kobieta           1992                  2
16      Roman   Abacki  Mezczyzna           1962                  2
0        Adam   Abacki  Mezczyzna           1970                  3
9      Janusz   Abacki  Mezczyzna           1975                  9

    dzień urodzenia miejsce urodzenia oddział firmy   departament  \
22               21            Gdansk        Krakow            HR
38                5            Gdansk      Warszawa    Accounting
16               23            Lublin        Krakow  Data Science
0                 4            Gdansk        Gdansk  Data Science
9                16            Gdynia        Gdansk         Sales

    rok rozpoczęcia pracy w firmie  miesiąc rozpoczęcia pracy  \
22                          2017.0                          9
38                             NaN                          3
16                             NaN                          5
0                           2015.0                          4
9                           1995.0                         11

    dzień rozpoczęcia pracy  doświadczenie(lata)
22                       25                   13
38                       15                   13
16                       12                    8
0                         5                   20
9                         5                   20

Pandas - Zadanie 5 - Doświadczenie

Do zbioru danych należy dodać kolumnę, która będzie mówiła o poziomie doświadczenia danej osoby, w sposób
słowny, przyjmując:

Junior (do 3 lat doświadczenia)
Mid (4 do 8 lat)
Senior (9 do 12 lat)
Ekspert (od 13 lat)

In [116]:
def poziom_doswiadczenia():
    doswiadczenie = []
    for lata in dane['doświadczenie(lata)']:
        if lata <=3:
            doswiadczenie.append('Junior')
        elif 4 <= lata <= 8:
            doswiadczenie.append('Mid')
        elif 9 <= lata <= 12:
            doswiadczenie.append('Senior')
        else:
            doswiadczenie.append('Ekspert')
    return doswiadczenie

dane.insert(13, "Doswiadczenie", poziom_doswiadczenia())

In [117]:
print(dane.head(33))

          imię nazwisko       plec  rok urodzenia  miesiąc urodzenia  \
0         Adam   Abacki  Mezczyzna           1970                  3
1      Barbara  Babacka    Kobieta           1971                  4
2       Celina  Cabacka    Kobieta           1969                  6
3      Dariusz  Dabacki  Mezczyzna           1972                  8
4      Ewelina   Ebacka    Kobieta           1968                 10
5    Ferdynand  Fabacki  Mezczyzna           1973                 11
6     Grzegorz  Gabacki  Mezczyzna           1967                 12
7       Halina  Habacka    Kobieta           1974                 11
8        Iwona   Ibacka    Kobieta           1966                 10
9       Janusz   Abacki  Mezczyzna           1975                  9
10    Karolina  Babacka    Kobieta           1965                  8
11        Leon  Cabacki  Mezczyzna           1976                  7
12      Michal  Dabacki  Mezczyzna           1964                  6
13     Natalia   Ebacka    Kobieta           1977                  5
14       Oskar  Fabacki  Mezczyzna           1963                  4
15    Patrycja  Gabacka    Kobieta           1978                  3
16       Roman   Abacki  Mezczyzna           1962                  2
17  Stanislawa  Babacka    Kobieta           1979                  1
18      Tomasz  Cabacki  Mezczyzna           1961                  2
19     Urszula  Dabacka    Kobieta           1980                  3
20   Wladyslaw   Ebacki  Mezczyzna           1960                  4
21       Zofia  Fabacka    Kobieta           1981                  5
22   Anastazja   Abacka    Kobieta           1990                  6
23      Antoni   Abacki  Mezczyzna           1982                  7
24       Beata  Babacka    Kobieta           1991                  8
25      Cezary  Cabacki  Mezczyzna           1983                  9
26      Daniel  Dabacki  Mezczyzna           1992                 10
27         Ewa   Ebacka    Kobieta           1984                 11
28  Franciszek   Abacki  Mezczyzna           1993                 12
29    Boleslaw  Babacki  Mezczyzna           1985                 11
30     Dariusz  Cabacki  Mezczyzna           1994                 10
31     Mariusz  Dabacki  Mezczyzna           1986                  9
32      Wiktor   Abacki  Mezczyzna           1995                  8

    dzień urodzenia miejsce urodzenia oddział firmy           departament  \
0                 4            Gdansk        Gdansk          Data Science
1                 5            Gdynia        Gdansk          Data Science
2                 7             Sopot        Gdansk  Software Development
3                 9            Lublin        Gdansk                    HR
4                11          Warszawa        Gdansk            Accounting
5                12         Walbrzych        Gdansk                    HR
6                13            Gdansk        Gdansk  Software Development
7                14          Warszawa        Gdansk            Accounting
8                15            Poznan        Gdansk                 Sales
9                16            Gdynia        Gdansk                 Sales
10               17           Legnica        Gdansk          Data Science
11               18           Wroclaw        Krakow          Data Science
12               19       Swinoujscie        Gdansk                    HR
13               20          Zakopane        Krakow                    HR
14               21            Gdansk        Krakow          Data Science
15               22           Rzeszow        Krakow  Software Development
16               23            Lublin        Krakow          Data Science
17               24        Inowroclaw        Krakow  Software Development
18               25         Bydgoszcz        Krakow          Data Science
19               24         Bydgoszcz        Krakow          Data Science
20               23            Poznan        Krakow          Data Science
21               22            Gdansk        Krakow                    HR
22               21            Gdansk        Krakow                    HR
23               20          Warszawa        Krakow                    HR
24               19            Krakow        Krakow  Software Development
25               18            Gdynia        Krakow          Data Science
26               17            Gdansk        Krakow  Software Development
27               16          Zakopane        Krakow  Software Development
28               15            Lublin        Krakow          Data Science
29               14          Katowice        Krakow          Data Science
30               13          Katowice        Krakow            Accounting
31               12            Gdansk      Warszawa            Accounting
32               11            Gdansk      Warszawa            Accounting

    rok rozpoczęcia pracy w firmie  miesiąc rozpoczęcia pracy  \
0                           2015.0                          4
1                              NaN                          5
2                           2013.0                          6
3                           2020.0                          4
4                           2000.0                          7
5                           2001.0                          8
6                           2002.0                          4
7                           2003.0                          9
8                           2004.0                         10
9                           1995.0                         11
10                          2005.0                          4
11                          2006.0                          4
12                          2007.0                         12
13                          2008.0                          4
14                          2009.0                          4
15                          2010.0                          4
16                             NaN                          5
17                          2012.0                          4
18                          2013.0                          6
19                          2014.0                          4
20                          2015.0                          7
21                             NaN                          8
22                          2017.0                          9
23                          2018.0                         10
24                          2019.0                          4
25                             NaN                          4
26                          1995.0                         12
27                          1996.0                         11
28                          1997.0                          4
29                          1998.0                          4
30                          1999.0                          9
31                          2019.0                          8
32                          2018.0                          4

    dzień rozpoczęcia pracy  doświadczenie(lata) Doswiadczenie
0                         5                   20       Ekspert
1                        15                   10        Senior
2                        25                   35       Ekspert
3                         5                    4           Mid
4                        15                   30       Ekspert
5                        25                   20       Ekspert
6                         5                   18       Ekspert
7                        15                   17       Ekspert
8                        25                   16       Ekspert
9                         5                   20       Ekspert
10                       15                   30       Ekspert
11                       25                   24       Ekspert
12                        5                   21       Ekspert
13                       10                   20       Ekspert
14                       25                   10        Senior
15                        5                    9        Senior
16                       12                    8           Mid
17                        5                    7           Mid
18                       13                    6           Mid
19                       14                    5           Mid
20                       16                   15       Ekspert
21                       25                   14       Ekspert
22                       25                   13       Ekspert
23                       20                   12        Senior
24                       24                   11        Senior
25                       21                   12        Senior
26                        5                   10        Senior
27                       15                    9        Senior
28                       25                    8           Mid
29                       25                    7           Mid
30                        5                    6           Mid
31                        5                    5           Mid
32                       15                    4           Mid

Pandas - Zadanie 6 - Rok dołączenia

Kolumna reprezentująca rok dołączenia do firmy ma puste wartości. Uzupełnij brakujące wartości używając
średniej dla osób o takim samym poziomie doświadczenia (kolumna z Zadania 3), w skali całej firmy.

In [118]:
doswiadczenie_pogrupowane = dane.groupby('Doswiadczenie')['rok rozpoczęcia pracy w firmie'].mean()
print(doswiadczenie_pogrupowane)

Doswiadczenie
Ekspert    2008.736842
Mid        2010.000000
Senior     2007.833333
Name: rok rozpoczęcia pracy w firmie, dtype: float64

In [119]:
    slownik = {
        'Ekspert': 2008,
        'Mid':2010,
        'Senior':2007
    }
zmapowane_lata = dane['Doswiadczenie'].map(slownik)
dane['rok rozpoczęcia pracy w firmie'] = dane['rok rozpoczęcia pracy w firmie'].fillna(zmapowane_lata)

In [120]:
print(dane.head(20))

          imię nazwisko       plec  rok urodzenia  miesiąc urodzenia  \
0         Adam   Abacki  Mezczyzna           1970                  3
1      Barbara  Babacka    Kobieta           1971                  4
2       Celina  Cabacka    Kobieta           1969                  6
3      Dariusz  Dabacki  Mezczyzna           1972                  8
4      Ewelina   Ebacka    Kobieta           1968                 10
5    Ferdynand  Fabacki  Mezczyzna           1973                 11
6     Grzegorz  Gabacki  Mezczyzna           1967                 12
7       Halina  Habacka    Kobieta           1974                 11
8        Iwona   Ibacka    Kobieta           1966                 10
9       Janusz   Abacki  Mezczyzna           1975                  9
10    Karolina  Babacka    Kobieta           1965                  8
11        Leon  Cabacki  Mezczyzna           1976                  7
12      Michal  Dabacki  Mezczyzna           1964                  6
13     Natalia   Ebacka    Kobieta           1977                  5
14       Oskar  Fabacki  Mezczyzna           1963                  4
15    Patrycja  Gabacka    Kobieta           1978                  3
16       Roman   Abacki  Mezczyzna           1962                  2
17  Stanislawa  Babacka    Kobieta           1979                  1
18      Tomasz  Cabacki  Mezczyzna           1961                  2
19     Urszula  Dabacka    Kobieta           1980                  3

    dzień urodzenia miejsce urodzenia oddział firmy           departament  \
0                 4            Gdansk        Gdansk          Data Science
1                 5            Gdynia        Gdansk          Data Science
2                 7             Sopot        Gdansk  Software Development
3                 9            Lublin        Gdansk                    HR
4                11          Warszawa        Gdansk            Accounting
5                12         Walbrzych        Gdansk                    HR
6                13            Gdansk        Gdansk  Software Development
7                14          Warszawa        Gdansk            Accounting
8                15            Poznan        Gdansk                 Sales
9                16            Gdynia        Gdansk                 Sales
10               17           Legnica        Gdansk          Data Science
11               18           Wroclaw        Krakow          Data Science
12               19       Swinoujscie        Gdansk                    HR
13               20          Zakopane        Krakow                    HR
14               21            Gdansk        Krakow          Data Science
15               22           Rzeszow        Krakow  Software Development
16               23            Lublin        Krakow          Data Science
17               24        Inowroclaw        Krakow  Software Development
18               25         Bydgoszcz        Krakow          Data Science
19               24         Bydgoszcz        Krakow          Data Science

    rok rozpoczęcia pracy w firmie  miesiąc rozpoczęcia pracy  \
0                           2015.0                          4
1                           2007.0                          5
2                           2013.0                          6
3                           2020.0                          4
4                           2000.0                          7
5                           2001.0                          8
6                           2002.0                          4
7                           2003.0                          9
8                           2004.0                         10
9                           1995.0                         11
10                          2005.0                          4
11                          2006.0                          4
12                          2007.0                         12
13                          2008.0                          4
14                          2009.0                          4
15                          2010.0                          4
16                          2010.0                          5
17                          2012.0                          4
18                          2013.0                          6
19                          2014.0                          4

    dzień rozpoczęcia pracy  doświadczenie(lata) Doswiadczenie
0                         5                   20       Ekspert
1                        15                   10        Senior
2                        25                   35       Ekspert
3                         5                    4           Mid
4                        15                   30       Ekspert
5                        25                   20       Ekspert
6                         5                   18       Ekspert
7                        15                   17       Ekspert
8                        25                   16       Ekspert
9                         5                   20       Ekspert
10                       15                   30       Ekspert
11                       25                   24       Ekspert
12                        5                   21       Ekspert
13                       10                   20       Ekspert
14                       25                   10        Senior
15                        5                    9        Senior
16                       12                    8           Mid
17                        5                    7           Mid
18                       13                    6           Mid
19                       14                    5           Mid

Pandas - Zadanie 7 - Data Scientists

Który oddział firmy ma najwięcej Data Scientistów ?

In [121]:
data_scientists = dane[dane['departament']=='Data Science']
ile_ds = data_scientists.groupby('oddział firmy').size()
max_oddzial = ile_ds.idxmax()

In [122]:
print(max_oddzial)
print(ile_ds.max())

Krakow
9

Pandas - Zadanie 8 - Nazwy departamentów

Szef chciałby zmienić nazewnictwo departamentów w całej firmie. Napisz kod, który zamieni wartości w
kolumnie reprezentującej departament, nastepująco:

Software Development -> Software Development Team
HR -> Human Resources
Data Science -> Data Analytics

In [123]:
def nazwa_dept(row):
    if row == "Software Developement":
        return "Software Development Team"
    elif row == "HR":
        return "Human Resources"
    elif row == "Data Science":
        return "Data Analytics"
    else:
        return row

dane['departament'] = dane['departament'].apply(nazwa_dept)

In [124]:
wybrane_kolumny = dane[['imię', 'nazwisko', 'departament']]
print(wybrane_kolumny.head(15))

         imię nazwisko           departament
0        Adam   Abacki        Data Analytics
1     Barbara  Babacka        Data Analytics
2      Celina  Cabacka  Software Development
3     Dariusz  Dabacki       Human Resources
4     Ewelina   Ebacka            Accounting
5   Ferdynand  Fabacki       Human Resources
6    Grzegorz  Gabacki  Software Development
7      Halina  Habacka            Accounting
8       Iwona   Ibacka                 Sales
9      Janusz   Abacki                 Sales
10   Karolina  Babacka        Data Analytics
11       Leon  Cabacki        Data Analytics
12     Michal  Dabacki       Human Resources
13    Natalia   Ebacka       Human Resources
14      Oskar  Fabacki        Data Analytics

Pandas - Zadanie 9 - Seniorzy

Które biuro firmy ma najwięcej osób na Seniorskim poziomie doświadczenia ?

In [125]:
oddzial_senior = dane[dane['Doswiadczenie']=='Senior']['oddział firmy'].value_counts()

In [132]:
print(f"Najwiecej seniorów znajduje się w {oddzial_senior.idxmax()}")
print(f"Liczba seniorów to {oddzial_senior.max()}")

Najwiecej seniorów znajduje się w Krakow
Liczba seniorów to 7

Pandas - Zadanie 10 - Kobiety Juniorzy

Które biuro ma najwięcej kobiet na Juniorskim poziomie doświadczenia ?

In [135]:
kobieta_junior = dane[(dane['plec'] == 'Kobieta') & (dane['Doswiadczenie'] == 'Junior')]['oddział firmy'].value_counts()

print(kobieta_junior)

Series([], Name: count, dtype: int64)

Pandas - Zadanie 11 - Kobiety Mid

Ile jest kobiet w krakowskim biurze, na Mid poziomie doświadczenia, urodzonych przed 1975 rokiem ?

In [136]:
kobieta_krk_mid_1975 = dane[(dane['plec']=='Kobieta') & (dane['oddział firmy']=='Krakow') & (dane['Doswiadczenie']=='Mid') & (dane['rok urodzenia'] < 1975)]

In [137]:
print(kobieta_krk_mid_1975)

Empty DataFrame
Columns: [imię, nazwisko, plec, rok urodzenia, miesiąc urodzenia, dzień urodzenia, miejsce urodzenia, oddział firmy, departament, rok rozpoczęcia pracy w firmie, miesiąc rozpoczęcia pracy, dzień rozpoczęcia pracy, doświadczenie(lata), Doswiadczenie]
Index: []

Pandas - Zadanie 12 - Seniorzy z ostatnich 10 lat

Ile osób, które posiadają obecnie stanowisko seniorskie, dołączyło do firmy w przeciągu ostatnich 10 lat?

In [138]:
today_year = pd.Timestamp.now().year
year_diff = today_year - dane['rok rozpoczęcia pracy w firmie']
staz_10_lat = dane[(dane['Doswiadczenie']=='Senior') & (year_diff <= 10)]

In [148]:
print(f"Liczba seniorów, któa dołączyła do firmy w przeciągu ostatnich 10 lat wynosi: {staz_10_lat.shape[0]}")

Liczba seniorów, któa dołączyła do firmy w przeciągu ostatnich 10 lat wynosi: 2