1. Import pandas

In [1]:
import pandas as pd

2. There are seven files with names `rollercoasters_0.csv`, `rollercoasters_1.csv`, and on through `rollercoasters_6.csv`. Use a for loop to generate a list of these file names.

In [2]:
files = []
for i in range(7):
    files.append(f'rollercoasters_{i}.csv')
print(files)

['rollercoasters_0.csv', 'rollercoasters_1.csv', 'rollercoasters_2.csv', 'rollercoasters_3.csv', 'rollercoasters_4.csv', 'rollercoasters_5.csv', 'rollercoasters_6.csv']

3. Use the list from the prior task to read the CSVs into a list of filenames. Preview the first DataFrame to see the structure.

In [4]:
dataframes = [pd.read_csv(file) for file in files]
dataframes[0].head()

,Ride_ID,Ride_Name,Material,Max_Riders,Max_MPH,Max_Height,Duration,Req_Height
0,A000,Cheetah Rush,Steel,24.0,80.0,60.0,180.0,48.0
1,A002,grazing wildebeest run,Steel,20.0,50.0,110.5,180.0,36.0
2,A004,Ostrich Race,Wooden,24.0,45.0,50.2,240.0,36.0
3,A005,Rolling Rhino Coaster,MIXED,36.0,10.0,12.5,360.0,0.0
4,A008,Gorongosa Gazelle Races,Steel,24.0,60.0,52.4,240.0,36.0

4. Concatenate the list from the prior task into a single DataFrame. Preview the first five lines.

In [6]:
all_dfs = pd.concat(dataframes)
all_dfs.head(5)

,Ride_ID,Ride_Name,Material,Max_Riders,Max_MPH,Max_Height,Duration,Req_Height,Height_Req
0,A000,Cheetah Rush,Steel,24.0,80.0,60.0,180.0,48.0,NaN
1,A002,grazing wildebeest run,Steel,20.0,50.0,110.5,180.0,36.0,NaN
2,A004,Ostrich Race,Wooden,24.0,45.0,50.2,240.0,36.0,NaN
3,A005,Rolling Rhino Coaster,MIXED,36.0,10.0,12.5,360.0,0.0,NaN
4,A008,Gorongosa Gazelle Races,Steel,24.0,60.0,52.4,240.0,36.0,NaN

5. It looks like there might be some differing column names: `Req_Height` and `Height_Req` are both present. Use a loop to figure out which of the DataFrames have which column name.

In [9]:
for i, df in enumerate(dataframes):
    print(f"rollercoasters_{i}.csv columns:")
    print(df.columns)
    print("-" * 40)

rollercoasters_0.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Req_Height'],
      dtype='object')
----------------------------------------
rollercoasters_1.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Height_Req'],
      dtype='object')
----------------------------------------
rollercoasters_2.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Height_Req'],
      dtype='object')
----------------------------------------
rollercoasters_3.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Height_Req'],
      dtype='object')
----------------------------------------
rollercoasters_4.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Height_Req'],
      dtype='object')
----------------------------------------
rollercoasters_5.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Height_Req'],
      dtype='object')
----------------------------------------
rollercoasters_6.csv columns:
Index(['Ride_ID', 'Ride_Name', 'Material', 'Max_Riders', 'Max_MPH',
       'Max_Height', 'Duration', 'Height_Req'],
      dtype='object')
----------------------------------------

6. Based on your findings, update column names and re-do the concatenation to remove the duplicate columns.

In [11]:
dataframes[0] = dataframes[0].rename({'Req_Height':'Height_Req'},axis=1)
all_dfs = pd.concat(dataframes)
all_dfs.head(5)

,Ride_ID,Ride_Name,Material,Max_Riders,Max_MPH,Max_Height,Duration,Height_Req
0,A000,Cheetah Rush,Steel,24.0,80.0,60.0,180.0,48.0
1,A002,grazing wildebeest run,Steel,20.0,50.0,110.5,180.0,36.0
2,A004,Ostrich Race,Wooden,24.0,45.0,50.2,240.0,36.0
3,A005,Rolling Rhino Coaster,MIXED,36.0,10.0,12.5,360.0,0.0
4,A008,Gorongosa Gazelle Races,Steel,24.0,60.0,52.4,240.0,36.0

7. The columns `Ride_ID, Ride_Name, Material` are all `object` type and seem to have been encoded differently in terms of upper/lowercase. The columns `Max_Riders, Max_MPH, Duration, Height_Req` are all coming through as `float64`, but should be `int64`. Use one loop and if/elif/else statements to 
- lowercase all `object` columns
- convert the incorrect `float64` to `int64`

In [13]:
for df in dataframes:
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].str.lower()
        elif df[col].dtype == 'float64' and col in ['Max_Riders', 'Max_MPH', 'Duration', 'Height_Req']:
            df[col] = df[col].astype('int64')